.App {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/31192.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 43em;
  min-width: 70em;
  

}
.başlık{
  margin: 20px;
}